@import url('https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display:ital@0;1&family=Roboto:ital,wght@0,700;1,300&display=swap');
* {
  box-sizing: border-box;
  font-size: 1rem;
}
body {
  font-size: 1.6rem;
  font-family: Lato, sans-serif;
  height: 100vh;
  margin: 0;
}
